<div mat-dialog-title class="dialog-header">
  <div>
    <h2>Scores list</h2>
  </div>
  <div>
    <button *ngIf="sortingType==='descending' else otherSortingButton"
      (click)="changeSortingTypeAscending()"
      mat-button
      color="primary"
    >
      <mat-icon>sort</mat-icon>
      <mat-icon>arrow_downward</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
    <ul class="list-group" *ngFor="let score of sortedData" >
      <li class="list-group-item d-flex justify-content-between align-items-center">{{ score.name }}
      <span class="badge badge-pill">{{ score.score }} points</span></li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button
      mat-raised-button
      mat-dialog-close
      color="primary"
    >
      Close
    </button>
</mat-dialog-actions>
<ng-template #otherSortingButton>
  <button
    (click)="changeSortingTypeDescending()"
    mat-button
    color="primary"
  >
    <mat-icon>sort</mat-icon>
    <mat-icon>arrow_upward</mat-icon>
  </button>
</ng-template>
<ng-template #noScores>
  <p class="alert alert-info">No added score yet.</p>
</ng-template>
