.button-down {
    width: 100px;
    margin-top: 5px;
}
.game-control {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.block-control {
    display: flex;
    flex: row;
    justify-content: space-around;
    margin-top: 20px;
}

.rotate-button {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.control-information {
    margin-top: 35px;
}

.game-state-control {
    margin-top: 50px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}