<div class="container">
  <div class="col-sm-12 col-md-8 col-lg-6 mt-1">
    <div class="row">
      <div class="col-sm-6">
        <tetris-core #game
                     (lineCleared)="onLineCleared()"
                     (gameOver)="onGameOver()"
        >
        </tetris-core>
      </div>
      <div class="col-sm-4">
        <h4 *ngIf="playerName else noPlayer">Hello, {{ playerName }}</h4>
        <ng-template #noPlayer><h4>No player registered</h4></ng-template>
        <h5>Player's points: <span class="label label-primary">{{ points }}</span></h5>
          <div class="buttons-section">
            <button (click)="game.actionStart()" class="btn btn-success col-sm-12">Start</button>
            <button (click)="game.actionStop()" class="btn btn-warning col-sm-12 button-space">Stop</button>
            <button (click)="game.actionReset()" class="btn btn-secondary col-sm-12 button-space">Reset</button>
            <button (click)="openScores()" class="btn btn-info col-sm-12 button-space">Show scores</button>
            <button (click)="onExitGame()" class="btn btn-danger col-sm-12 mt-2 button-space">Exit</button>
          </div>
        <button mat-raised-button (click)="openInstructions()" color="primary" class="manual-button col-sm-12">How to play</button>
      </div>
    </div>
  </div>
</div>
