.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-left: 140px;
    border: 1px solid black;
    width: 100%;
}

.intro-header {
    width: 50%;
    margin: auto;
}

.introductory-text {
    width: 56%;
    margin: auto;
}
