<h2 mat-dialog-title>How to play</h2>
<mat-dialog-content>
  <ul class="list-group">
      <li class="list-group-item">Press left arrow to <strong>move left</strong></li>
      <li class="list-group-item">Press down arrow to <strong>move down</strong></li>
      <li class="list-group-item">Press right arrow to <strong>move right</strong></li>
      <li class="list-group-item">Press space to <strong>rotate block</strong></li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>
