<div class="form-container">
  <h3>Verify user</h3>
  <form [formGroup]="playerForm" class="form">
    <mat-form-field>
      <input type="text" formControlName="playerName" matInput required placeholder="Your name">
    </mat-form-field>
    <button
      class="col-sm-4"
      mat-raised-button
      color="primary"
      [disabled]="playerForm.invalid"
      (click)="onSubmitForm()"
    >
      Play
    </button>
  </form>
  <button
    class="btn btn-info margin-top-15"
    (click)="changeColorsToBW()"
    *ngIf="highContrastColors===false else backToColorsButton"
  >
    Set high contrast
  </button>
</div>
<ng-template #backToColorsButton>
  <button
    class="btn btn-warning margin-top-15"
    (click)="changeColorsToNormal()"
  >
    Back to normal colors
  </button>
</ng-template>
